<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Link to the compiled Tailwind CSS output file -->
    <link rel="stylesheet" href="/css/output.css">
    <!-- Link to Font Awesome -->
    <link rel="stylesheet" href="/css/fontawesome-pro/css/all.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>